version: "3.9"

services:
  api:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pm_saas
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

